{
    "parser": "@typescript-eslint/parser",
    "root": true,
    "extends": ["plugin:prettier/recommended"],
    "plugins": ["react", "prettier"],
    "ignorePatterns": ["node_modules/"],
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "prettier/prettier": 0,
        "react/jsx-uses-vars": "error",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-var-requires": "off"
    }
}
