@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard'), url('Pretendard-Regular.woff2') format('woff2'),
        url('Pretendard-Regular.woff') format('woff'), url('Pretendard-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard'), url('Pretendard-Medium.woff2') format('woff2'),
        url('Pretendard-Medium.woff') format('woff'), url('Pretendard-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard'), url('Pretendard-Bold.woff2') format('woff2'), url('Pretendard-Bold.woff') format('woff'),
        url('Pretendard-Bold.ttf') format('truetype');
}
