@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src: url('Pretendard-Light.woff2') format('woff2'), url('Pretendard-Light.woff') format('woff'),
        url('Pretendard-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url('Pretendard-Regular.woff2') format('woff2'), url('Pretendard-Regular.woff') format('woff'),
        url('Pretendard-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url('Pretendard-Medium.woff2') format('woff2'), url('Pretendard-Medium.woff') format('woff'),
        url('Pretendard-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src: url('Pretendard-Bold.woff2') format('woff2'), url('Pretendard-Bold.woff') format('woff'),
        url('Pretendard-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url('Pretendard-ExtraBold.woff2') format('woff2'), url('Pretendard-ExtraBold.woff') format('woff'),
        url('Pretendard-ExtraBold.ttf') format('truetype');
}
